<article class="page">
	
	<header class="page-header">
		<div class="container">
			<h2 class="page-heading"><%= title %></h2>
		</div>
	</header>

	<div class="container">
		<section class="entry-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pretium erat in elit feugiat hendrerit. Curabitur consequat dignissim enim quis laoreet. Vestibulum ornare porttitor blandit. Nullam dui tellus, posuere in imperdiet eu, tincidunt at arcu. Sed varius viverra justo, et tempor sapien dapibus et. Donec at nulla id leo imperdiet pulvinar eu ac nulla. In lacinia accumsan fermentum. Pellentesque mollis fringilla mauris, ut viverra urna blandit id. Donec dignissim arcu in ipsum viverra, nec cursus est dignissim. Curabitur aliquet elit et varius pellentesque.</p>

			<p>Fusce rhoncus magna mi, et adipiscing lorem adipiscing at. Suspendisse elit diam, sodales et varius quis, interdum non nisl. Aliquam tincidunt ipsum id mattis molestie. Sed aliquam, ante sed luctus laoreet, massa erat pretium nisl, et placerat nunc enim at neque. Donec sed diam at nunc posuere interdum. Sed nec convallis mi. Nam quis dapibus elit. Fusce quis dapibus ipsum. Vivamus eleifend velit viverra, vulputate ligula in, blandit eros. Nam hendrerit tellus ut sem imperdiet eleifend.</p>
		</section>
	</div>

</article>