/* ------------------------------------------------------------- */
/* ------- COLOURS --------------------------------------------- */
/* ------------------------------------------------------------- */

/* ------- DEFINITION ------------------------------------------ */

// Shades
$color-grey-dark: #333;
$color-white-off: #ecf0f1;
$color-silver: #bdc3c7;

// Colours
$color-green: #2ecc71;
$color-blue-pale: #3498db;
$color-coral: #e74c3c;
$color-orange: #e67e22;
$color-yellow: #f1c40f;

/* ------- CONTEXT --------------------------------------------- */

$color-home: $color-orange;
$color-about: $color-coral;
$color-work: $color-yellow;
$color-contact: $color-blue-pale;
$color-blog: $color-green;


/* ------- DOM PLACEHOLDERS (Seems grubby but go with me) ------ */

.color-home, .template-home .key { color: $color-home; }
.color-about, .template-about .key { color: $color-about; }
.color-work, .template-work .key { color: $color-work; }
.color-contact, .template-contact .key { color: $color-contact; }
.color-blog, .template-blog .key { color: $color-blog; }

.work-links .key { color: darken($color-work, 20%); }

/* ------------------------------------------------------------- */
/* ------- FONTS ----------------------------------------------- */
/* ------------------------------------------------------------- */

$font-default: "jaf-facitweb", "Trebuchet MS", Arial, sans-serif;
$font-special: Georgia, Times New Roman, serif;

/* ------- FONT AWESOME ---------------------------------------- */

$FontAwesomePath:   "/fonts";

/* ------------------------------------------------------------- */
/* ------- DIMENSIONS ------------------------------------------ */
/* ------------------------------------------------------------- */

$spacing: 10px;

$spacing-vertical: 20px;

$dimension-site-width: 620px;

$dimension-header-height: 60px;

$dimension-utility-height: 2px;

