@import "compass/reset";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";

@import "settings";
@import "grid";
@import "font-awesome";

/* ------------------------------------------------------------- */
/* ------- GLOBAL ---------------------------------------------- */
/* ------------------------------------------------------------- */

html, body {
	height: 100%;
}

/* ------------------------------------------------------------- */
/* ------- FONTS ----------------------------------------------- */
/* ------------------------------------------------------------- */

$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

body {
	font-family: $font-default;
	color: $color-white-off;
	background: $color-grey-dark;
}

/* ------------------------------------------------------------- */
/* ------- PANEL DEVICE ---------------------------------------- */
/* ------------------------------------------------------------- */

.site-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.panel-stage {
	width: 640px;
	height: 350px;
	top: $dimension-header-height + 3 + 20;;
	left: 50%;
	margin-left: -320px;
	overflow: visible;
	position: absolute;
	// background: rgba(red, 0.1);
}

.panel-container {
	@include transition-property(left);
	@include transition-duration(1s);
	width: 500%; // number_of_page_groups * 100%
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.panel-container .page-group-collection-list {

	height: 100%;
}

.panel-container .page-group-item {

	display: block;
	float: left;
	width: 620px; // 100 / number_of_page_groups
	height: 370px;
	margin: 0 10px;
	position: relative;
}

.panel-container .page-collection-list {

	@include transition-property(top);
	@include transition-duration(1s);
	top: 0;
	position: absolute;
	width: 100%;
	height: 350px;
	background: inherit;
}

.panel-container .page-item {
	
	display: block;
	width: 100%;
	height: 100%;
	background: inherit;

	margin-bottom: 20px;
}

.panel-container .page {
	width: 100%;
	height: 100%;
}

/* ------------------------------------------------------------- */
/* ------- GRID ------------------------------------------------ */
/* ------------------------------------------------------------- */

.container {
	@include clearfix;
	position: relative;
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

/* ------------------------------------------------------------- */
/* ------- NAVIGATION ------------------------------------------ */
/* ------------------------------------------------------------- */

.site-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $dimension-header-height;
	z-index: 100;
	background: black;
}

.panel-navigation .page-group-list {
	margin-right: column-gutter(1);
	float: right;
}

.panel-navigation .page-group-item {
	@include inline-block;
	padding: 0 5px;
	border-top: 3px solid;

	&.template-home { border-color: $color-home; }
	&.template-about { border-color: $color-about; }
	&.template-work { border-color: $color-work; }
	&.template-contact { border-color: $color-contact; }
	&.template-blog { border-color: $color-blog; }
}

.panel-navigation .page-collection-list {

}

.panel-navigation .page-item {
	cursor: pointer;
	display: none;

	&:first-child {
		display: block;
		color: #FFF;
		line-height: $dimension-header-height - 3;
		text-transform: uppercase;
		font-size: 0.9em;
	}	
}

.utility-bar {
	@include transition-property(all);
	@include transition-duration(1s);
	top: $dimension-header-height;
	left: 0;
	width: 100%;
	height: 3px;
	background: black;
}

/* ------------------------------------------------------------- */
/* ------- LOGO FUN -------------------------------------------- */
/* ------------------------------------------------------------- */

.logo-link {
	margin-top: 10px;
	margin-left: column-gutter(1);
	display: block;
	float: left;
}

.logo {
	
}

.logo-element {
	fill: white;
}

/* ------------------------------------------------------------- */
/* ------- PAGE LAYOUT ----------------------------------------- */
/* ------------------------------------------------------------- */

.page {
	@include transition-property(opacity);
	@include transition-duration(1s);
	@include clearfix;
	background: $color-white-off;
	color: $color-grey-dark;
}

.active .page {
	@include opacity(1);
}

.inactive .page {
	@include opacity(0.2);
	overflow: hidden;
}

.page-header {
	padding: 4px;
	color: $color-white-off;
}

.group-home .page-header { background: $color-home; }
.group-about .page-header { background: $color-about; }
.group-work .page-header { background: $color-work; }
.group-contact .page-header { background: $color-contact; }
.group-blog .page-header { background: $color-blog; }

.page-header .page-heading {
	@include adjust-font-size-to(18px);
	@include column(12);
}

.entry-content {	
	@include column(8, 8);
}

.entry-content p {

	margin-top: 1em;

	&:first-child {
		@include leader();
	}
}

/* ------- HOME PAGE ------------------------------------------- */


/* ------- ABOUT PAGE ------------------------------------------ */

.template-about {

}

.template-about .entry-content {
	// font-size: 3em;
	font-weight: 200;
	// line-height: 1.3em;
	@include adjust-font-size-to(48px);
}

/* ------- CONTACT PAGE ---------------------------------------- */








