<article class="page">
	
	<div class="container">
		<section class="entry-content">

			<a target="_blank" href="http://twitter.com/coadycodes" class="key link link-twitter"><i class="icon-twitter"></i><span class="text">Twitter</span></a>
			<a target="_blank" href="https://github.com/alexcoady" class="key link link-twitter"><i class="icon-github"></i><span class="text">Github</span></a>
			<a target="_blank" href="http://stackoverflow.com/users/687581/alex-coady?tab=questions&sort=votes" class="key link link-stackoverflow"><i class="icon-stackexchange"></i><span class="text">Stackoverflow</span></a>
			<a target="_blank" href="http://www.linkedin.com/pub/alex-coady/29/599/274" class="key link link-linkedin"><i class="icon-linkedin"></i><span class="text">LinkedIn</span></a>

		</section>
	</div>

</article>