<article class="page">
	
	<header class="page-header">
		<div class="container">
			<h2 class="page-heading"><%= title %></h2>
		</div>
	</header>

	<div class="container">
		<section class="entry-content">
			<p><%= description %></p>
		</section>
	</div>

</article>